footer{
    color: white;
    padding: 5px;
    text-align: center;
    position: static;
    margin-top: 50px;
    bottom: 0px;
    width: 100%;
    border-top: 2px solid grey;
      
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer_logo{
    display: block;
    margin-bottom: 5px;
}

.footer_logo img{
    padding: 30px;
    height: 100px;
    width: 500px;
}


.flex1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex3{
    display: flex;
    flex-direction: column;
    align-items: baseline;

}

.Newsletter {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    height: 60px;
    width: 300px;
    padding: 5px;
    margin-top: 50px;
}

.Newsletter input {
    border: none;
    outline: none;
    padding: 5px;
    width: 300px;
}

.Newsletter button {
    border: none;
    background: none;
    cursor: pointer;
}

p {
    font-family: "Open Sans", sans-serif;
    color: black;
}

p a{
    text-decoration: none;
    color: black;
}

p.bold_text{
    font-weight: bold;

}

.flex-container2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.SocialLinks i{
    padding: 10px;
    background-color: white;
    color: green;
    border-radius: 60%;
    margin-top: 5px;
}

form input{
    background-color: transparent;
    text-align: center;
}

button{
    background-color: ;
}
}
    

