.item-container {
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  gap: 50px;
  margin-left: 290px;
  margin-right: 290px;
  padding: 20px 10px;
}

.imageBox {
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.imageBox img {
  border-radius: 20px;
  box-shadow: 3px 3px 14px 10px rgba(12, 12, 12, 0.237);
}

.right-content {
  border-radius: 20px;
  box-shadow: 0px 0px 14px 10px rgba(12, 12, 12, 0.237);
  padding: 20px;
  width: 100%;
}

.text h2 {
  font-size: 32px;
  line-height: 1px;
}

.desc {
  font-size: 18px;
  padding-top: 10px;
  line-height: 20px;
  height: 150px;
}

.item-info {
  margin-top: 20px;
}

.buy {
  font-size: 20px;
  padding: 20px;
  margin-top: 100px;
  text-align: center;
  background-color: #14a943;
  color: white;
  border-radius: 20px;
}
